body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #121212;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  padding: 1rem 2rem;
  background: #1f1f1f;
  position: fixed;
}
 nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
 }

nav li {
  cursor: pointer;
  transition: color 0.3s;
}

nav li:hover {
  color: #ff0066;
}  


.hero {
  text-align: center;
  padding: 3rem;
}

.card, .team-card {
  background: #1f1f1f;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  transition: transform 0.3s, background 0.3s;
}

.card:hover, .team-card:hover {
  transform: scale(1.05);
  background: #292929;
}

button {
  padding: 0.5rem 1rem;
  background: #ff0066;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  transition: background 0.3s;
}

button:hover {
  background: #ff3399;
}